.format-text{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 200%;
}


.text-size {
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    padding: 5px; /* Поля */
    text-overflow: ellipsis; /* Многоточие */
}
.text-size:hover {
    background: #f0f0f0; /* Цвет фона */
    white-space: normal; /* Обычный перенос текста */
}

.format-text-label {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}