.format-text{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 180%;
}

.format-text-username{
    font-family: 'Ubuntu Condensed', sans-serif;
}



.text-size {
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    padding: 5px; /* Поля */
    text-overflow: ellipsis; /* Многоточие */
}
.text-size:hover {
    background: #f0f0f0; /* Цвет фона */
    white-space: normal; /* Обычный перенос текста */
}

.format-text-label {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

.ThxForm {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 200%;
    text-align: center;
    vertical-align: middle;
    color: #606060;
    top: 90%; /* Отступ в процентах от верхнего края окна */
    left: 50%; /* Отступ в процентах от левого края окна */
    width: 450px; /* Ширина блока */
    height: 450px; /* Высота блока */
    margin: auto;

}